*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    width: 100%;    
    background-image: radial-gradient(circle, rgb(156, 240, 221), rgb(17, 55, 77) 15%);
    position: fixed;
}

.header {
    width: 1400px;
    height: 80px;
    /* to center the header items */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    font-size: 25px;
    color: #98c1d9;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: 0.1em;
}

.logo h1::first-letter {
    font-size: 40px;
    color: #98c1d9
}

.logo span {
    color: #e0fbfc;
}

.navlinks ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 70px;
}

.navlinks ul li:first-child {
    background-color: green;
    border-radius: 15px;
    font-size: 25px;
    padding: 15px;
}


.navlinks ul li a {
    text-decoration: none;
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    letter-spacing: .05px;
    color: #e0fbfc;
    transition: 0.5s;
}

.navlinks ul li a:hover {
    color: #98c1d9;

}

.btn {
    padding: 10px 20px;
    color: #e0fbfc;
    cursor: pointer;
    text-decoration: none;
    background-color: #3d5a80;
    border-radius: 30px;
    box-shadow: 2px -5px 15px #fff;
    font-weight: 600;
    transition: 0.5s;
}

.btn:hover {
    /* border: 5px solid cyan; */
    box-shadow: 2px 1px 5px rgb(12, 190, 210);
    background-color: #98c1d9;
    color: red;
}

.main-content {
    width: 100%;
    height: 100%;
}

.main {    
    width: 1400px;
    height: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.line { 
    width: 80px;
    border-bottom: 8px solid #ee6c4d;
    margin-bottom: 30px;
}

.main h1 {
    text-transform: uppercase;
    font-size: 50px;
    color: #98c1d9;
    line-height: 1;
}

.main h2 {
    font-size: 40px;
    color: #98c1d9;
    margin-bottom: 50px;
}

.main span {
    color: #ee6c4d;
}

.main p {
    width: 800px;
    font-size: 18px;
    color: #e0fbfc;
    margin-bottom: 30px;
    line-height: 25px;
    text-align: justify;
}

.main p::first-letter {
    font-size: 45px;
    color: tomato;
}


.primary {
    display: flex;
    flex-direction: column;    
    
}

.btn-primary {
    margin-bottom: 55px;
    color: #3d5a80;
    background-color: #e0fbfc;
    text-align: center;
    width: 35%;
}

.image-bg {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 50px solid #07a8e3;
    z-index: -1;
}

.image-bg img {
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.9;
    animation: move 1s linear alternate infinite;
}

@keyframes move {
    0% {
        top: 0px;
    }

    50% {
        top: 25px;
    }

    100% {
        top: 0px;
    }
}

.social {
    position: relative;
    bottom: 10%;
    left: 25%;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 50px;
}


.social i {
    color: #3d5a80;
    font-size: 30px;
    transition: 0.5s;
}

.social i:hover {
    color: #18bce1;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0fbfc;
    border: 2px solid #3d5a80;
    transition: 0.5s;
}

.social-link:hover {
    border: 2px solid #ee6c4d;

}